<!DOCTYPE html>
<html>
<head>
	<title>Servicios</title>
	<link rel="shortcut icon" type="image/x-icon" href="../../estilo/imagenes/logo.png">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../estilo/estilo.css">
	<link href = "https://fonts.googleapis.com/css2? family = Noto + Sans + TC: wght @ 300 & display = swap" rel = "stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<!-- COMIENSO NAVBAR -->

<nav id="navbar">
	<div class="logo">
		<a href="../../../index.html"><img src="../../estilo/imagenes/logo.png"></a>
	</div>
	<ul class="nav-principal">
		<li><a href="../gobierno/index.html">Gobierno</a></li>
		<li><a href="../servicios/index.html">Servicios</a></li>
		<li><a href="../tramites/index.html">Tramites</a></li>
		<li><a href="../contacto/index.html">Contacto</a></li>
		<li><a href="https://www.facebook.com/calvetjorge"><img src="../../estilo/imagenes/face.png"></a></li>
		<li><a href="mailto:comunabarrancas@yahoo.com.ar"><img src="../../estilo/imagenes/gmail.png"></a></li>
		<li><a href="https://www.instagram.com/"><img src="../../estilo/imagenes/insta.png"></a></li>
		<li><a href="https://twitter.com/"><img src="../../estilo/imagenes/twit.png"></a></li>
	</ul>
	<div class="acomodo">
		<div class="linea1"></div>
		<div class="linea2"></div>
		<div class="linea3"></div>
	</div>
</nav>
<script src="../../js/nav.js"></script>
<!-- FIN NAVBAR -->
<!-- TITULO PRINCIPAL -->
<h1>Servicios de la Localidad</h1>
<!-- ======BODY=======  -->


<div class="servicio">
  <img class="izquierda" src="../../estilo/imagenes/epe.jpg">
  <aside><h3><a href="https://www.epe.santafe.gov.ar/institucional/">Energia De Santa Fe</a></h3> La Empresa Provincial de la Energía de Santa Fe es una de las distribuidoras eléctricas más importantes de la República Argentina. Abastece a más de 1.300.000 de clientes distribuidos en 101.000 Km2</aside>
  <div class="reset"></div>
</div>
<div class="servicio">
  <img class="izquierda" src="../../estilo/imagenes/agua.jpg">
  <aside><h3><a href="https://www.aguassantafesinas.com.ar/portal/">Aguas Santafesinas</a></h3> Aguas Santafesinas es una empresa estatal que se constituyó como sociedad anónima el 8 de febrero de 2006 con el objetivo de proveer agua potable y desagües cloacales en quince ciudades de la Provincia de Santa Fe.</aside>
  <div class="reset"></div>
</div>
<div class="servicio">
  <img class="izquierda" src="../../estilo/imagenes/cosmol.jpg">
  <aside><h3><a href="http://www.cosmol.com.ar/">Cosmol</a></h3> Cosmol es una cooperativa de telecomunicaciones que opera en la República Argentina, su central reside en Monje, Santa Fe. </aside>
  <div class="reset"></div>
</div>
<div class="servicio">
  <img class="izquierda" src="../../estilo/imagenes/telecom.png">
  <aside><h3><a href="https://hogares.telecom.com.ar/">Telecom</a></h3> Telecom Argentina S.A. es una compañía de telecomunicaciones que opera en la República Argentina, República del Paraguay y la República Oriental del Uruguay.</aside>
  <div class="reset"></div>
</div>






<!-- ======footer=======  -->
<footer>
	<div class="footer">
		<br>
		<h4>ENCUÉNTRANOS</h4>
		<p><b>Dirección:</b> Leandro N. Alem 726, S2246 Barrancas, Santa Fe.<b> Teléfono:</b><a href="tel: 03466 42-0482 " class="btnllamar" onclick="return (navigator.userAgent.match(/android | iphone | movile/i)) != null;"> 03466 42-0482</a></p>
		<a href="../contacto/index.html">mas sobre contacto</a>
	</div>
</footer>

</body>
</html>
