<!DOCTYPE html>
<html>
<head>
	<title>Tramites</title>
	<link rel="shortcut icon" type="image/x-icon" href="../../estilo/imagenes/logo.png">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../estilo/estilo.css">
	<link href = "https://fonts.googleapis.com/css2? family = Noto + Sans + TC: wght @ 300 & display = swap" rel = "stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<script src="../../js/despliegue.js"></script>
</head>
<body id="bodi">
<!-- COMIENSO NAVBAR -->

<nav id="navbar">
	<div class="logo">
		<a href="../../../index.html"><img src="../../estilo/imagenes/logo.png"></a>
	</div>
	<ul class="nav-principal">
		<li><a href="../gobierno/index.html">Gobierno</a></li>
		<li><a href="../servicios/index.html">Servicios</a></li>
		<li><a href="../tramites/index.html">Tramites</a></li>
		<li><a href="../contacto/index.html">Contacto</a></li>
		<li><a href="https://www.facebook.com/calvetjorge"><img src="../../estilo/imagenes/face.png"></a></li>
		<li><a href="mailto:comunabarrancas@yahoo.com.ar"><img src="../../estilo/imagenes/gmail.png"></a></li>
		<li><a href="https://www.instagram.com/"><img src="../../estilo/imagenes/insta.png"></a></li>
		<li><a href="https://twitter.com/"><img src="../../estilo/imagenes/twit.png"></a></li>
	</ul>
	<div class="acomodo">
		<div class="linea1"></div>
		<div class="linea2"></div>
		<div class="linea3"></div>
	</div>
</nav>
<script src="../../js/nav.js"></script>
<!-- FIN NAVBAR -->
<!-- TITULO PRINCIPAL -->
<h1>Tramites</h1>
<!-- ======BODY=======  -->
<!-- FOTOS INICIO/ slider  -->
<div class="slider">
	<ul>
		<li><img src="../../estilo/imagenes/paisaje1.jpg"></li>
		<li><img src="../../estilo/imagenes/covid.jpg"></li>
		<li><img src="../../estilo/imagenes/farmaciat.jpg"></li>
		<li><img src="../../estilo/imagenes/paisaje2.jpg"></li>
	</ul>
</div>





<div id="principal_tramites">
<div id="tramites">
	<p><a href="http://www.iapossantafe.gob.ar/">Iapos</a><a id="bt1" onclick="mostrar();"><img src="../../estilo/imagenes/abajo.png"></a></p>
	<p id="tbt1">Es la obra social de los empleados públicos de la provincia de Santa Fe, que actualmente cuenta con más de 550.000 afiliados. Se crea a partir de la Ley 8.288/78 para organizar, administrar y financiar un sistema solidario de atención médica para sus beneficiarios. En esta sección se brinda información sobre los distintos servicios que IAPOS presta a sus afiliados como lugares de atención, cobertura en medicamentos, bocas de expendio como así también información útil para profesionales prestadores de servicios de salud.

Solicite asesoramiento o realice su trámite personalmente en la oficina ubicada en calle 9 de Julio  de nuestra localidad. Horario de atención: Lunes a Viernes de 7.00 hs a 12.30 hs en el local comunal.<a href="javascript:void(0);" onclick="ocultar();">OCULTAR</a></p>
</div>
<div id="tramites">
	<p><a href="https://www.galvez.gob.ar/index.php/component/k2/tramites/centro-region-emision-licencia-conducir">Licencia De Conducir </a><a id="bt2" onclick="mostrar2();"><img src="../../estilo/imagenes/abajo.png"></a></p>
	<p id="tbt2">Requisitos para la obtención de las licencias de conducir:   Edades mínimas y máximas de los solicitantes

 Para las clases A21, B1, B2, G1, G2 y F: ser mayor de 18 años.
 Para las clases A22 y A3: ser mayor de 21 años o menor de 21 años en tanto acredite 2 años de antigüedad en clase A21.
 Para las clases C, E1 y E2: ser mayor de 21 años y para la primera vez, poseer 1 año de antigüedad en clase inferior (Licencias de moto, no acreditan antigüedad).
 Para las clases D1 y D2: ser mayor de 21 años y para la primera vez, poseer 1 año de antigüedad en clase inferior.
PASOS PARA TRAMITAR SU LICENCIA DE CONDUCIR:

Solicitar turno en la oficina comunal. <a href="javascript:void(0);" onclick="ocultar2();">OCULTAR</a></p>
</div>
<div id="tramites">
	<p><a href="https://www.santafe.gov.ar/e-pt-liq-deuda/">Patentamiento-Impresion de Boletas</a></p>
</div>
<div id="tramites">
	<p><a href="https://www.santafe.gov.ar/e-in-boletas/">API-Impuesto Inmobiliario</a></p>
</div>
</div>
<!-- ======footer=======  -->
<footer>
	<div class="footer">
		<br>
		<h4>ENCUÉNTRANOS</h4>
		<p><b>Dirección:</b> Leandro N. Alem 726, S2246 Barrancas, Santa Fe.<b> Teléfono:</b><a href="tel: 03466 42-0482 " class="btnllamar" onclick="return (navigator.userAgent.match(/android | iphone | movile/i)) != null;"> 03466 42-0482</a></p>
		<a href="../contacto/index.html">mas sobre contacto</a>
	</div>
</footer>

</body>
</html>
