<!DOCTYPE html>
<html>
<head>
	<title>Gobierno</title>
	<link rel="shortcut icon" type="image/x-icon" href="../../estilo/imagenes/logo.png">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../estilo/estilo.css">
	<link href = "https://fonts.googleapis.com/css2? family = Noto + Sans + TC: wght @ 300 & display = swap" rel = "stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<!-- COMIENSO NAVBAR -->

<nav id="navbar">
	<div class="logo">
		<a href="../../../index.html"><img src="../../estilo/imagenes/logo.png"></a>
	</div>
	<ul class="nav-principal">
		<li><a href="../gobierno/index.html">Gobierno</a></li>
		<li><a href="../servicios/index.html">Servicios</a></li>
		<li><a href="../tramites/index.html">Tramites</a></li>
		<li><a href="../contacto/index.html">Contacto</a></li>
		<li><a href="https://www.facebook.com/calvetjorge"><img src="../../estilo/imagenes/face.png"></a></li>
		<li><a href="mailto:comunabarrancas@yahoo.com.ar"><img src="../../estilo/imagenes/gmail.png"></a></li>
		<li><a href="https://www.instagram.com/"><img src="../../estilo/imagenes/insta.png"></a></li>
		<li><a href="https://twitter.com/"><img src="../../estilo/imagenes/twit.png"></a></li>
	</ul>
	<div class="acomodo">
		<div class="linea1"></div>
		<div class="linea2"></div>
		<div class="linea3"></div>
	</div>
</nav>
<script src="../../js/nav.js"></script>
<!-- FIN NAVBAR -->
<!-- TITULO PRINCIPAL -->
<h1>Integrantes Del Gobierno</h1>
<!-- ======BODY=======  -->
<div class="gobierno">
	<!-- FOTOS INICIO/ slider  -->
	<div class="slider_gobierno">
		<ul>
			<li><img src="../../estilo/imagenes/gobierno2.jpg"></li>
			<li><img src="../../estilo/imagenes/gobierno.jpg"></li>
		</ul>
	</div>
	<h2>Miembros Comunales Titulares:</h2>
	<p>Calvet Jorge Alberto</p>
	<p>Gauna Diego Roberto</p>
	<p>Lopez Maria Angelica</p>
	<p>Olguin Maria Soledad</p>
	<p>Akerman Jose Maria</p>
	<h2>Controladores de Cuentas Titulares</h2>
	<p>Luengo Alfredo Gustavo</p>
	<p>Airet Bruno Exequiel</p>
	<p>Diaz Elida Beatriz</p>
	<h2>Miembros Comunales Suplentes</h2>
	<p>Lopez Maria Jose</p>
	<p>Alzugaray Alcides Alberto</p>
	<p>Colagrossi Maria Soledad</p>
	<p>Paschetto Manuel Ramon</p>
	<p>Santi Patricia Guadalupe</p>
	<h2>Controladores de Cuentas Suplentes</h2>
	<p>Ojeda Ernesto Omar</p>
	<p>Visens Ivana Guadalupe</p>
	<p>Ambrosini Natalia Lorena</p>
</div>
<!-- ======footer=======  -->
<footer>
	<div class="footer">
		<br>
		<h4>ENCUÉNTRANOS</h4>
		<p><b>Dirección:</b> Leandro N. Alem 726, S2246 Barrancas, Santa Fe.<b> Teléfono:</b><a href="tel: 03466 42-0482 " class="btnllamar" onclick="return (navigator.userAgent.match(/android | iphone | movile/i)) != null;"> 03466 42-0482</a></p>
		<a href="../contacto/index.html">mas sobre contacto</a>
	</div>
</footer>

</body>
</html>
